<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Project7 | ToDo List</title>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>a todo app with no permanent data!</h1>
    <div class="container">
        <div class="tasks--list">
            <h5>Your Tasks!</h5>

            <!-- This is for temporary storing in db -->
            <div class="task--item">
                <% if(tasks.length > 0) { %>
                    <% tasks.map(item => { %>
                        <div class="item">
                            <span><%= item.text%></span>
                            <a href="/task/delete/<%=item.id%>" class="trash">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                </svg>
                            </a>
                        </div>
                <% })} else{ %>
                        <div class="empty--list--info">
                            No Tasks Created!
                        </div>
                    <% } %>
            </div>
        </div>

        <div class="task--create">
            <form action="/task/create" method="post">
                <div class="form--field">
                    <input 
                        type="text"
                        placeholder="Enter a new Task...."
                        name="task"
                    />
                </div>

                <button type="submit" class="task--create--btn">
                    Add Task
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                </button>
            </form>
        </div>
    </div>

</body>
</html>