<%- include('partials/header') %>

<div class="container">
    <div class="mt-5 text-center">
            <div class="key--image">
                <img src="/img/key.png" alt="keyimage">
            </div>
        <h5 class="display-5 mb-2">You've Discovered My Secret!</h5>
        <div class="bg-dark text-white text-center p-2 fs-5 fw-bold">
            This Page is Authenticated!
        </div>
    </div>
</div>


<%- include('partials/footer') %>