
<%- include('partials/header') %>

<div class="home">
    <div class="key--image">
        <img src="/img/key.png" alt="key">
    </div>

    <h1 class="home--title">Secrets</h1>
    <p>Don't keep your secrets, share them anonymously.</p>
    <div class="border--width"></div>

    <div class="action--area mt-3 d-flex align-items-center gap-3">
        <a href="/user/register" class="btn btn-light">Register</a>
        <a href="/user/login" class="btn btn-dark">Login</a>
    </div>

</div>

<%- include('partials/footer') %>